[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
pandas = "==1.1.5"
loguru = "*"
lotteryinsight = {editable = true, path = "."}
sqlalchemy = "*"
numpy = "==1.19.5"
pymysql = "==1.0.0"
apscheduler = "*"
aiocontextvars = "==0.2.2"

[dev-packages]

[requires]
python_version = "3.6"
